WP_PORT=8080
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=rootpassword

# Optional PrintNode credentials (https://www.printnode.com/)
PRINTNODE_API_KEY=
PRINTNODE_PRINTER_ID=
